@charset "utf-8";
/* CSS Document */

/* ==========================================================================
   [Table of contents]
  1. Reset
     1.1 Eric Meyers Reset
     1.2 Clear Fix
     1.3 Font-face
  2. Body
  3. Content / .content
    3.1. Logo
    3.2. Disease Block / .disease-block
    3.3. Buttons / .buttons 
    3.4. Galaxy / .galaxy-block
    3.5. Note / .note
  4. Pop-up
    4.1. Detail-Pop-up / .detial-popup-content
  4.2. Detailed study pop up / #detail-info-block
    4.2.1. Study-design / #studydesign-content
    4.2.2. Baseline-charateristic / #characteristics-content
    4.2.3. Result / #result-content
      4.2.4. Conclusion / #conclusions-content
  5. Glossary / #glossary
  
 ========================================================================== */

/* ==========================================================================
  [Color codes]

 1. Mine Shaft (body): #222;
 2. Siren ( Button - text , note-text): #830051;
 3. Bahama Blue( Text): #05549b;
 4. Star Dust (glossary) : #989897
 5. Disco ( li- selected - background-color): #821a54;
 6. White ( li- selected - Text): #fff;
 ========================================================================== */

/* ==========================================================================
  [Typography]

    body : 'helvetica_neueregular',arial,sans-serif;
    h2 : 'helvetica_neuebold',arial,sans-serif;
    
 ========================================================================== */

/*  1.1 Eric Meyers Reset
========================================================================== */

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

/* Force scrollbar and antialiased property for I-PAD */
html {
  overflow-y: scroll;
  -webkit-font-smoothing: antialiased;
}

/* align radios and text inputs with their label */
input[type="radio"] {
  vertical-align: text-bottom;
}

.ie8 input {
  vertical-align: text-bottom;
}

/* hand cursor on clickable input elements */
label, 
input[type=button], 
input[type=submit], 
button {
  cursor: pointer;
}

input, textarea {
  -webkit-appearance: none;
  -webkit-border-radius: 0;
}

strong {
  font-weight: bold;
  font-family: inherit;
  font-size: inherit;
}

em {
  font-style: italic;
}

img {
  border: 0;
  vertical-align: middle;
}

sub,
sup {
  font-size: 60%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

body, 
button, 
input, 
select, 
textarea {
  color: #222;
}

body {
  font-size: 12px;
  line-height: 1.231;
}

sup {
  top: -.7em;
}

sub {
  bottom: -.25em;
}

/*  1.2 Clear Fix
========================================================================== */
/**
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    contenteditable attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that are clearfixed.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
*/

.cf:before,
.cf:after {
  content: " ";
  display: table;
}

.cf:after { clear: both; }

.cf { *zoom: 1; }

/*  1.3 Font-face
========================================================================== */
@font-face {
  font-family: 'helvetica_neuebold';
  src: url('../fonts/helveticaneue-bold-webfont.eot');
  src: url('../fonts/helveticaneue-bold-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/helveticaneue-bold-webfont.woff') format('woff'),
    url('../fonts/helveticaneue-bold-webfont.ttf') format('truetype'),
    url('../fonts/helveticaneue-bold-webfont.svg#helvetica_neuebold') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'helvetica_neueregular';
  src: url('../fonts/helveticaneue-light-webfont.eot');
  src: url('../fonts/helveticaneue-light-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/helveticaneue-light-webfont.woff') format('woff'),
    url('../fonts/helveticaneue-light-webfont.ttf') format('truetype'),
    url('../fonts/helveticaneue-light-webfont.svg#helvetica_neueregular') format('svg');
  font-weight: normal;
  font-style: normal;
}

/* ==========================================================================
   2. Body
   ========================================================================== */

body {
  font-family: 'helvetica_neuebold', arial, sans-serif;
  background: url(../images/bg.jpg) repeat ;
}

.container {  
  width: 1024px;
  margin: 0 auto;
}

/* ==========================================================================
   3. Content / .content
   ========================================================================== */



/*  3.1 Logo
========================================================================== */
h1 {
  font-size: 50px;
  text-align: center;
  width: 100%;
}

h1 a {
  height: 40px;
  width: 33px;
  cursor: auto;
  float: left;
  text-indent: -999em;
}


.logo {
}

.sidebar{
  width: 20%;
  float: right;
  border: 1px solid #000;
}


header{
  border: 1px solid;
  float: left;
  height: 100px;
  width: 100%;
}

.login, .add_user{
  margin: 20px;
}

#login{
  float: right;
  width: auto;
}

#request, .results {
  border: 1px dotted #000000;
  height: auto;
  margin: 5px 0;
}

.main{
  width: 75%;
  float: left;
}

#comparison {
  display: none;
}

.delete{
  float: right;
}

.collaps{
/*  display: none;*/
}

.collaps span{
  background: #000;
  color: #fff;
  width: 100%;
  float: left;
}

.step2, .step3{
  display: none;
}